{
  "ignore": [],
  "env": {
    "test": {
      "presets": [
        ["env"],
        "react"
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "production": {
      "presets": [
        ["env", {"modules": false}],
        "react"
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "development": {
      "presets": [
        ["env", {"modules": false}],
        "react"
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}