textarea {
  resize: none;
}

textarea, input, button { outline: none; }

.form-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  input {
    color: gray;
    font-size: 18px;
    text-align: center;
    font-family: Hack, monospace;
  }
}

.form-label {
  font-size: 18px;
  font-family: Hack, monospace;
  color: #7ED8F7;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}

.form-completed {
  color: greenyellow;
  border-color: greenyellow;
}

.form-control {
  border-radius: 0;
  border-color: #32363E;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  background: inherit;
  width: 75%;
}
.form-control:focus {
  box-shadow: none;
  border-color: #7ED8F7;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999
}
.btn-start-order {
  background: gray;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: Hack, monospace;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
  align-items: center;

  &.retrieve {
    color: #7ED8F7;
  }
}

.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color:#7ED8F7;
  color: #7ED8F7;
}

.text-center {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}