.previous-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous-session {
  margin: 5px;
  color: gray;
  font-size: 12px;
  text-align: center;
  font-family: Hack, monospace;
  border: 2px solid gray;
  padding: 10px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.previous-session:focus,  .previous-session:active, .previous-session:hover{
  border-color:#63DAF9;
  color: #63DAF9;
}