.top-bar {
  background: #20232A;
  height: 75px;
  text-align: center;
  font-size: 60px;
  font-family: Hack, monospace;
  color: #32363E;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}