.top-bar {
  background: #20232A;
  height: 75px;
  text-align: center;
  font-size: 60px;
  font-family: Hack, monospace;
  color: #32363E;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  span {
    background-image: url('/water.png');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, .1);
    animation: animate 18s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: left 0px top 10px;
    }

    40% {
      background-position: left 800px top -100px;
    }

    80% {
      background-position: left 1800px top -100px;
    }

    75% {
      background-position: left 2400px top 80px;
    }
  }

  &.completed {
    color: #99C696;
  }
}